# Ambientes virtuais
venv/
.venv/
env/

# Arquivo de ambiente local
.env

# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos temporários e de backup
*.tmp
*.bak
*.swp
*~

# Logs
*.log

# Testes
.pytest_cache/
.coverage
